@page "/producto"
@page "/producto/{id:int}"
@inject IProductoService ProductoService

@if (Id == null)
{
    <PageTitle>Crea un nuevo producto</PageTitle>
    <h3> Crea un nuevo producto</h3>
}

@code {
    [Parameter]
    public int? Id{ get; set; }

}
